.authentication-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 60px auto;
  padding: 40px;
  background: linear-gradient(145deg, #091010, #2b403270,#091010); // dark slate → emerald
  border-radius: 12px;
  box-shadow: 0 6px 25px rgba(0,0,0,0.7);
}
