* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(270deg, #0d113e, #263238, #0d1b2a); /* deep navy + charcoal gradient */
  color: #eceff1; /* cool gray text */
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100%;
}